@import "sweetalert2/dist/sweetalert2.css";

body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

%overlayer{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 30%);
    z-index: 1;
  }
}
.custom-img-cover{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-img-article{
  display: block;
  width: 100%;
  min-height: 500px;
  background-image: var(--img-src);
  background-attachment: fixed;
  @extend %overlayer;
}
